*{margin: 0;padding: 0;box-sizing: border-box;}
.wraper{
    width: 1540px;
    margin: auto;
    position: relative;
}
header{
    display: grid;
    background-color: rgb(216, 210, 210);
    grid-template-columns: 20% 64% 15%;
    gap: 1%;
}
.logo{
    padding: 10px 50px;
}
.menu{
    display: flex;
    align-items: center;
    height: 55px;
    border-bottom: 0.5px solid gray;
}
.nav ul{
    display: flex;
    margin-left: 40px   ;
}
.nav ul li{
   list-style-type: none;
}
.nav ul a{
    padding: 0px 20px 0px 20px;
    text-decoration: none;
    font-size: 19px;
    color: black;
}
.option-menu{
    height: 100%;
    width: 300px;
    text-align: center;
    padding-top: 20px;
    margin-left: 25px;
    font-weight: bold;
    box-shadow:  -10px 0px 15px rgba(207, 204, 204, 0.5), 10px 0px 15px rgba(207, 204, 204, 0.5);
    cursor: pointer;
}
.category-menu {
    display: none;
    width: 300px;
    background-color: white;
    margin-left: 25px;
    box-shadow:  -10px 0 15px rgba(207, 204, 204, 0.5), 10px 0 15px rgba(207, 204, 204, 0.5);
    position: relative;
    z-index: 10;
}
.category-menu.active {
    display: block;
}
.category-menu ul {
    list-style-type: none;
    padding: 0;
}
.category-menu li {
    padding-bottom: 10px;
    padding-top: 10px;
}
.category-menu li:hover {
    background-color: rgb(236, 230, 230);
}
.category-menu a{
    text-decoration: none;
}
.category-menu a li{
    text-decoration: none;
    color: black;
    padding-left: 50px;
    font-size: 20px;
}
