.gray-line{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
    width: 100%;
    height: 40px;
    background: rgb(202, 199, 199);
}
.back-main{
    display: flex;
    align-items: center;
    padding-left: 25px;
    width: 100%;
    height: 40px;
    box-shadow: 0 5px 6px rgb(216, 214, 214);
}
.back-main a{
    text-decoration: none;
    color: black;
    padding-right: 7px;
}
.back-main span{
    padding-left: 7px;
    padding-right: 7px;
    font-size: 13px;
}
.same-category{
    margin-left: 15px;
}
.same-category-card{
    margin-left: 20px;
    margin-bottom: 10px;
}
.same-category-card a{
    text-decoration: none;
    color: black;
}
.same-category-card p{
    margin: 10px;
    margin-left: 15px;
}
.containers{
    all: unset;
    display: grid;
    grid-template-columns: 15% 85%;
    width: 100%;
    margin-top: 40px;
}
.product-area{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.product-card{
    margin-top: 50px;
}